In [5]:
import pandas as pd
import pyarrow.parquet as pq
import os
import tqdm

In [12]:
result = pd.DataFrame()
file_lst = []
for root, dirs, files in os.walk('data/'):
    for file_name in files:
        if file_name.endswith('.parquet'):
            # file_lst.append(file_name)
            path = 'data/raw/' + file_name
            data = pq.read_table(path).to_pandas()
            result = pd.concat([result, data])
# result.to_parquet('data/green_sum.parquet', index=False)

In [6]:
data = pq.read_table('data/green_sum.parquet').to_pandas()
data.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [16]:
df = data[(data['lpep_pickup_datetime'] >= "2022")
          & ("2023-08" >= data['lpep_pickup_datetime'])].reset_index(drop=True)
# df.to_parquet('data/green_sum_2201-2307.parquet', index=False)

In [25]:
df = pq.read_table('data/green_sum_2201-2307.parquet').to_pandas()
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-09-01 00:45:23,2022-09-01 00:52:39,N,1.0,74,42,1.0,1.51,7.50,0.5,0.5,1.32,0.00,NaN,0.3,10.12,1.0,1.0,0.00
1,2,2022-09-01 00:40:58,2022-09-01 01:11:42,N,5.0,93,79,3.0,14.51,65.00,0.0,0.0,10.00,6.55,NaN,0.3,84.60,1.0,2.0,2.75
2,2,2022-09-01 00:03:27,2022-09-01 00:08:31,N,1.0,134,134,2.0,1.01,5.50,0.5,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.00
3,2,2022-09-01 00:31:17,2022-09-01 00:35:20,N,1.0,7,179,1.0,0.59,4.50,0.5,0.5,1.74,0.00,NaN,0.3,7.54,1.0,1.0,0.00
4,2,2022-08-31 23:58:32,2022-09-01 00:15:52,N,5.0,93,233,1.0,10.60,70.00,0.0,0.0,19.90,6.55,NaN,0.3,99.50,1.0,2.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306904,2,2023-03-31 23:33:00,2023-03-31 23:45:00,None,NaN,25,144,NaN,2.93,16.46,0.0,0.0,4.04,0.00,NaN,1.0,24.25,NaN,NaN,NaN
1306905,2,2023-03-31 23:27:00,2023-03-31 23:53:00,None,NaN,36,236,NaN,8.49,34.66,0.0,0.0,7.68,0.00,NaN,1.0,46.09,NaN,NaN,NaN
1306906,2,2023-03-31 23:09:00,2023-03-31 23:40:00,None,NaN,42,225,NaN,12.27,41.79,0.0,0.0,7.40,6.55,NaN,1.0,56.74,NaN,NaN,NaN
1306907,2,2023-03-31 23:39:00,2023-04-01 00:01:00,None,NaN,80,189,NaN,4.42,17.82,0.0,0.0,1.94,0.00,NaN,1.0,20.76,NaN,NaN,NaN
1306908,2,2023-03-31 23:38:00,2023-03-31 23:53:00,None,NaN,256,66,NaN,2.96,16.42,0.0,0.0,1.00,0.00,NaN,1.0,18.42,NaN,NaN,NaN

In [31]:
df.drop(columns=['ehail_fee'])
df.isnull().sum()

VendorID                       0
lpep_pickup_datetime           0
lpep_dropoff_datetime          0
store_and_fwd_flag        123159
RatecodeID                123159
PULocationID                   0
DOLocationID                   0
passenger_count           123159
trip_distance                  0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
ehail_fee                1306909
improvement_surcharge          0
total_amount                   0
payment_type              123159
trip_type                 123206
congestion_surcharge      123159
dtype: int64